.purple-text{
    color: #6f42c1;
}

.get-started {
    margin-right: 20px;
}

.custom-bg-button {
    background-color: #6f42c1 !important;
    border-color: #6f42c1 !important;
    transition: background-color 0.4s;
}

.custom-bg-button:hover{
    background-color: #6e42c1e3 !important;
}

.custom-bg-button:active{
    background-color: #6e42c1cb !important;
}

.homepage-headings{
    border-color: #6f42c1;
    border-width: 10px;
    width: fit-content;
    margin: auto;
    border-bottom-style: solid;
}

.features-headings{
    margin-top: 18px;
} 
 
.homepage-main-heading{
    margin: 0px 0px 18px 0px;
}

.homepage-secondary-heading{
    margin-bottom: 18px;
}

.homepage-btn{
    margin-bottom: 0px;
}

@media (max-width: 768px) {
    .features-headings{
        margin-top: 40px !important;
    } 
    .homepage-main-heading{
        margin: 25px 0px 18px 0px;
    }
    .homepage-secondary-heading{
        margin-bottom: 25px;
    }
    .homepage-btn{
        margin-bottom: 15px;
    }
}
