.m-hero-section {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.m-hero-section h1 {
    font-size: 69px;
    background: radial-gradient(70.71% 70.71% at 50% 50%, #F3F4F6 0%, #9CA3AF 90.1%);
}

.m-secondary-heading {
    font-size: 50px;
    background: linear-gradient(0deg, #E0F2FE 0%, #9CA3AF 100%);
}

.m-hero-section h1,
.m-secondary-heading {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.m-subheading {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    margin: 7px 0px 25px 0px;
}

.m-with-icon-btn {
    display: flex;
    gap: 10px;
    align-items: center;
    line-height: 0px;
    padding: 17px 26px;
}

.m-hero-section-img {
    margin: 28px 0px;
}

.m-features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px 35px;
}

.m-testimonials-section {
    margin: 50px 60px 15px 60px;
}

.m-testimonials-container {
    display: flex;
    gap: 50px;
    margin: 40px 0px 60px 0px;
    position: relative;
}

.m-testimonials-upper-divider {
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.00) 7.9%, rgba(183, 177, 177, 0.68) 50%, rgba(102, 102, 102, 0.00) 91.9%);
}

.m-testimonials-bottom-card {
    background: radial-gradient(29.79% 122.29% at 49.97% -22.29%, rgba(217, 217, 217, 0.15) 0%, rgba(115, 115, 115, 0.00) 100%);
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: space-evenly;
    padding: 0px 35px;
}

.m-testimonials-extra-details {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-bottom: 40px;
}

.m-testimonials-extra-details>h4 {
    color: #989898;
    font-size: 24px;
    font-weight: 700;
}

.m-testimonials-extra-details>h5 {
    padding: 7px 21px;
    border-radius: 100px;
    border: 2px solid rgba(183, 177, 177, 0.68);
    font-size: 16px;
    color: #D1D5DB;
    font-weight: 400;
}

.m-testimonials-extra-details>h4,
.m-testimonials-extra-details>h5 {
    margin: 0px;
}

.m-testimonials-middle-divider {
    width: 1px;
    height: 265px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.00) 0%, rgba(183, 177, 177, 0.68) 50%, rgba(153, 153, 153, 0.00) 100%);
    margin: 44px 0px;
}

.m-testimonials-right-section>p {
    color: #989898;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    width: 500px;
    margin: 10px 0px 0px 0px;
    padding-bottom: 50px;
}

.m-white-text {
    color: white !important;
}

.m-testimonials-right-section>img {
    margin-left: -30px;
}

.m-final-cta-section {
    border-radius: 20px;
    background: linear-gradient(99deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.06) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: auto;
    padding: 60px 25px;
    margin-bottom: 50px;
}

.m-bigger-font {
    font-size: 75px;
}

.m-final-cta-section>.m-subheading {
    line-height: 31px;
    max-width: 725px;
}

.m-final-cta-section>.m-get-started-btn {
    width: fit-content;
}