.m-hero-section {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.m-hero-section>h1 {
    font-size: 69px;
    background: radial-gradient(70.71% 70.71% at 50% 50%, #F3F4F6 0%, #9CA3AF 90.1%);
}

.m-secondary-heading {
    font-size: 50px;
    background: linear-gradient(0deg, #E0F2FE 0%, #9CA3AF 100%);
}

.m-hero-section>h1,
.m-secondary-heading {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.m-subheading {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    margin: 7px 0px 25px 0px;
}

.m-with-icon-btn {
    display: flex;
    gap: 10px;
    align-items: center;
    line-height: 0px;
    padding: 17px 26px;
}

.m-hero-section-img {
    margin: 28px 0px;
}

.m-features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px 35px;
}