form>h2{
    margin-top: -10px;
    font-size: 27px;
    text-align: center;
}

form>button{
    margin-top: 15px;
    background-color: #6f42c1;
    width: 100%;
    color: white;
    align-self: center;
    white-space: nowrap;
    border: 0px;
    padding: 8px 12px !important;
    transition: opacity 0.3s;
    border-radius: 4px;
}

form>button:hover{
    opacity: 0.9;
}

form>button:active{
    opacity: 0.7;
}

form{
    padding: 30px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    background-color: white;
    align-self: center;
    border-radius: 10px;
}

.background{
    margin: 0;
    background-color: rgb(27, 0, 27);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
}

.password-btn{
    z-index: 5;
    border: none;
    font-size: 19px;
}

.error, 
.success,
.forgot-password{
    display: block;
    font-size:small;
    margin: 4px 0px 0px 0px;
}

.error:empty, 
.success:empty{
    display: none;
}

.error{
    color:red; 
}

.success{
    color: green;
    margin-bottom: -6px !important;
}

.forgot-password{
    color: #6f42c1;
    text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}