.m-background {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 70vh;
    padding: 25px;
}

.m-background form {
    width: 500px;
}

.m-background .m-secondary-heading {
    margin-bottom: 30px;
}

.m-background .m-authentication-fields {
    margin-bottom: 8px;
}

.m-background .m-label {
    color: white !important;
}

.m-background .m-label::after {
    background-color: transparent !important;
}

.m-authentication-fields {
    background-color: rgba(0, 0, 0, 0) !important;
    border: 2px solid #FFF;
    color: white !important;
    border-radius: 12px;
}

.m-authentication-fields:-webkit-autofill {
    -webkit-background-clip: text;
    -webkit-text-fill-color: white !important;
}

.password-btn {
    z-index: 5;
    border: none;
    font-size: 19px;
    color: white;
    top: 45% !important;
    padding-right: 15px;
}

.error,
.success,
.forgot-password {
    display: block;
    font-size: small;
    margin: 4px 0px 0px 0px;
}

.error:empty,
.success:empty {
    display: none;
}

.error {
    color: red;
}

.success {
    color: green;
    margin-bottom: -6px !important;
}

.forgot-password {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.m-green-text {
    color: #5CC981;
    transition: opacity 0.5s;
}

.m-background .m-get-started-btn {
    width: 100%;
}

.m-reset-pass .m-get-started-btn {
    margin-top: 0px !important;
}

.m-reset-pass .m-secondary-heading {
    margin-bottom: 20px;
}

.m-background .m-get-started-btn {
    text-transform: uppercase;
    padding: 22px 0px;
    margin: 20px 0px 14px 0px;
}

.m-green-text:hover {
    opacity: 0.8;
}

.m-green-text:active {
    opacity: 0.7;
}