.custom-modal-chat {
    overflow: auto;
    max-height: 260px;
}

.modal-add-new-btn {
    color: black !important;
    background-color: #5CC981 !important;
    border: none;
    transition: opacity 0.5s;
}

.modal-close-btn {
    border: none;
}

.modal-add-new-btn:hover {
    opacity: 0.8;
}

.modal-add-new-btn:active {
    opacity: 0.7;
}


.modal-heading-members {
    width: 100%;
    text-align: center;
}

.add-new-member-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add-new-member-btn {
    width: fit-content !important;
}

.modal-content {
    background-color: black;
    color: white;
    border: white 1px solid;
}