.m-container {
    background: linear-gradient(117deg, #000 0%, #031801 50%, #000 100%);
    color: #D1D5DB;
}

.m-container a {
    text-decoration: none;
}

.m-nav {
    padding: 23px 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.m-nav>img {
    cursor: pointer;
}

.m-nav-links {
    list-style: none;
    display: flex;
    gap: 35px;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
}

.m-nav-links>li>a {
    color: #FFF !important;
    transition: color 0.3s;
    cursor: pointer;
}

.m-nav-links>li>a:hover {
    color: #5CC981 !important;
}

.m-get-started-btn {
    background-color: #5CC981;
    border-radius: 50px;
    color: #031301;
    padding: 12px 26px;
    font-size: 20px;
    border: none;
}