.m-testimonials-tab {
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 0px 25px;
    padding: 23px 38px;
    border-radius: 26px;
    border: 2px solid rgba(183, 177, 177, 0.68);
    background: rgba(3, 5, 4, 0.38);
    position: relative;
    cursor: pointer;
    flex: 0 0 calc(33.33% - 33.33px);
}

.slick-slide {
    min-width: 5% !important;
}

.slick-list {
    overflow: visible !important;
}

.m-testimonials-tab-active {
    box-shadow: 0px 0px 36.2px 20px rgba(131, 122, 122, 0.12);
}

.m-testimonial-name,
.m-testimonial-designation {
    color: #D1D5DB;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0px;
}

.m-testimonial-name {
    font-weight: 600;
    margin-bottom: 12px;
}

.m-testimonial-designation {
    font-weight: 400;
}

.m-testimonials-tab>img {
    border-radius: 100px;
    box-shadow: 0px 5px 43.4px -7px #000;
}

.m-testimonials-tab>img {
    pointer-events: none;
}



@media (max-width: 1330px) {

    .m-testimonial-name,
    .m-testimonial-designation {
        font-size: 18px;
    }

    .m-testimonials-tab {
        padding: 15px 22px;
        gap: 20px;
    }
}

@media (max-width: 1084px) {
    .m-testimonials-tab {
        margin: 0px 12px;
    }

    .m-testimonials-tab>img {
        height: 60px;
        width: 60px;
    }
}

@media (max-width: 1024px) {
    .slick-track {
        position: relative;
        left: -25% !important;
    }
}

@media (max-width: 830px) {
    .m-testimonials-section .m-subheading {
        margin-bottom: 0px;
    }
}

@media (max-width: 600px) {
    .slick-track {
        left: -100% !important;
    }

    .slick-prev {
        left: 3% !important;
        z-index: 1;
    }

    .slick-next {
        right: 3% !important;
        z-index: 1;
    }

    .m-testimonials-tab {
        margin: 0px 7px;
    }

    .m-testimonials-section .m-subheading {
        margin-bottom: -10px;
    }

}

@media (max-width: 460px) {

    .m-testimonial-name,
    .m-testimonial-designation {
        font-size: 16px;
    }

    .m-testimonials-tab {
        padding: 14px;
        gap: 15px;
    }

    .m-testimonials-tab>img {
        height: 45px;
        width: 45px;
    }

    .slick-track {
        align-items: center;
    }

    .m-testimonials-section .m-subheading {
        margin-bottom: -15px;
    }

}