@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  margin: 0;
  padding: 0 !important;
  font-family: "Inter", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.legal-links {
  color: white;
  text-decoration: none;
}

.row {
  max-width: calc(100vw - 68px) !important;
}

.footer-section {
  display: flex;
  text-align: left;
}

.copyright-text {
  margin-bottom: 0px;
}

.m-fliplink {
  position: relative;
  display: block;
  white-space: nowrap;
}

.m-get-started-btn {
  background-color: #5CC981;
  border-radius: 50px;
  color: #031301;
  padding: 18px 26px;
  font-size: 20px;
  border: none;
  font-weight: 500;
}

.m-get-started-btn:hover {
  opacity: 0.9;
}

.m-get-started-btn:active {
  opacity: 0.75;
}

.m-with-icon-btn {
  display: flex;
  gap: 10px;
  align-items: center;
  line-height: 0px;
  padding: 17px 26px;
}