@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  margin: 0;
  padding: 0 !important;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow-x: hidden;
}

#root{ 
  min-height: 100vh;
}

.legal-links{
  color: white;
  text-decoration: none;
}

.row{
  max-width: calc(100vw - 68px) !important;
}

.footer-section{
  display: flex;
  text-align: left;
}

.copyright-text{
  margin-bottom: 0px;
}

@media (max-width: 768px) {
  .footer-section{
    display: block;
    text-align: center;
  }
  .copyright-text{
    margin-bottom: 10px;
  }
}